<div class="top-content">
	<div class="inner-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text">
					<h1>Courses</h1>
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="table-header">Course Name</th>
								<th class="table-header">Course Code</th>
								<th class="table-header">Department</th>
							</tr>
						</thead>
						<tbody>
							<% if list != nil%>
								<%list.each do |i|%>
								<tr class="clickable-row" style="cursor: pointer" %>
									<th class="table-header"><%=list.shift%></th>
									<th class="table-header"><%=list.shift%></th>
									<th class="table-header"><%=list.shift%></th>
								</tr>
								<% end%>
							<%end%>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>            
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(".clickable-row").on('click', function(e){
            e.preventDefault();
            $.ajax({
                url: "11/feedback/31",
                method: "get",
            });
        });    
    });
    
</script>