		<div class="top-content">
			<div class="inner-bg">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2 text">
							<h1>Statistics</h1>
						</div>
					</div>
				</div>
			</div>            
		</div>


		<div id="bar_chart1"  class="chart"></div>
		<br><br><br>
		<div id="bar_chart2"  class="chart"></div>
		<br><br><br>
		<h3 class="rad-text">Eng.esm el mo3ed</h3>
		<div id="bar_chart3"  class="chart"></div>
		<br><br><br>