<div class="top-content">
	<div class="inner-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text">
					<h1>About Us</h1>
					<p class="about-text">
					Since its establishment, the Faculty of Engineering has maintained its four major departments: Civil, Architectural, Electrical and Mechanical engineering.  However, over the past fifty years, the faculty has developed subdivisions within these specialties to accommodate the constant changes in the field of engineering and adopt contemporary developments within the field of engineering.  Currently the faculty has thirteen specializations and the number of its staff has exceeded 883 members.
					<br><br>
					The Faculty of Engineering reviews and develops the curricula for both the undergraduate and post-graduate stages systematically. Accordingly the Faculty has developed a balanced research plan that comprises both academic and practical research that serves the Egyptian society and the Arab world, and addresses environmental issues.
					In an attempt to enhance the quality of engineers, the Faculty has developed its post graduate program in 2008 to the credit-hour system.  Hence the faculty offers several diplomas and professional diplomas that differ on a yearly basis according to the market requirements and the desires of the applicants.  In addition the curricula and requirements of the Master’s and Ph.D. programs have been modified to improve the scientific standards of the degree holders.
					<br><br>
					Realizing its role in community service, the faculty has established a Center for Engineering Consultancy, as an entity of special activity that is comprised of several specialized units offering technical and engineering consultancy in several branches including planning, design, construction management and supervision, and testing of materials and calibration.
					</P>
				</div>
			</div>
		</div>
	</div>            
</div>
