<div class="top-content">
	<div class="inner-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text">
						<h1>Contact Us</h1>          
						<table class="table">
							<thead>
							</thead>
							<tbody>
								<tr>
									<td>Faculty Address</td>
									<td>1 El-Sarayat St., Abbasia, Cairo</td>
								</tr>
								<tr>
									<td>Tel</td>
									<td>26824445​</td>
								</tr>
								<tr>
									<td>Switch</td>
									<td>6830841 - 24662793</td>
								</tr>
								<tr>
									<td>Fax</td>
									<td>26830944 - 26826639 - 26830947 - 26850617</td>
								</tr>
								<tr>
									<td>Post Number</td>
									<td>11517</td>
								</tr>
								<tr>
									<td>Office of the Dean</td>
									<td>Dean@eng.asu.edu.eg</td>
								</tr>
								<tr>
									<td>Office of the Vice Dean for Graduate Studies and Research</td>
									<td>Viced.research@eng.asu.edu.eg</td>
								</tr>
								<tr>
									<td>Office of the Vice Dean for Education and  Student Affairs</td>
									<td>Viced.students@eng.asu.edu.eg</td>
								</tr>
								<tr>
									<td>Office of the Vice Dean for Environmental Affairs and Community Service</td>
									<td>Viced.community@eng.asu.edu.eg</td>
								</tr>
							</tbody>
						</table>
				</div>
			</div>
		</div>
	</div>            
</div>